body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header,
section {
    padding: 1rem;
}

/* Fixed position elements are similar to absolute positioned elements - the natural space that the element took up in the flow of the document is now gone. If needed, once this element is positioned, create space for it. Fixed positioned elements stay in place when scrolling */

.snowflake {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1;
}

p {
    max-width: 80%;
    margin-bottom: 1.5rem;
}

/* Sticky positioned elements work like relative elements (they are a hybrid of relative and fixed). They stay in their natural flow until a distance has been reached and then they become sticky to the viewport */
/* To set a stickey element, 1. Give it a position, 2. set a distance */
h1 {
    position: sticky;
    top: 0;
    /* This does not work because there are no siblings to scroll underneath this element */
}

h2 {
    position: sticky;
    top: 0;
    /* This works because the p and h3 elements are direct siblings and they can scroll underneath */
    /* Give sticky elements background colors to avoid seeing the content that scrolls underneath */
    background-color: tomato;
    padding: 1rem 0.5rem;
    margin-bottom: 1.5rem;
    z-index: 1;
}

h3 {
    position: sticky;
    top: 68px;
    background-color: #fff;
}